
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    transition: 0.5s;
    Background-attachment: fixed
}

header{
    position: absolute;
    top: 0px;
    left: 0;
    width:100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
    margin-left: auto;

}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    font-size: 50px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content .textBox{
    position:relative;
    max-width: 600px;
}
.content .textBox h2{
    color:#F38887;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}
.content .textBox h2 span{
    font-size: 2em;
}
.content .textBox p{
    color: #fff;

}
.content .textBox a{
display: inline-block;
margin-top: 20px;
padding: 8px 20px;
background: #fff;
color: #111;
border-radius: 40px;
font-weight: 500;
letter-spacing: 1px;
text-decoration: none;
text-transform: uppercase;

}
.content .textBox form input{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;   
}
.sci{
    position: absolute;
    left: 50%;
    bottom:20px;
    transform: translateX(-50%);
    display: flex; 
}
.sci li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    
}
.sci li:hover{
    transform: translateY(-15px);
}
.sci li a{
    display: inline-block;
    
  
    
}
.sci li{
    max-width: 40px;

}
.sec2{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    transition: 0.5s;
    Background-attachment: fixed;
    
}
.content .imgBox img{
    box-shadow: 10px 10px 5px black;
    border-radius: 25px;
    width: 500px;
}
